/* Start global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
button,
a {
    font-family: inherit;
}

.explore-button a {
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 30px;
    background-color: #2f2f2f;
    transition: background-color 0.2s;
}

.explore-button a:hover {
    background-color: #222;
}

.mg-top-0 {
    margin-top: 50px !important;
}

.mg-bottom-3rem {
    margin-bottom: 3rem;
}

.gap-0 {
    gap: 0 !important;
}

.pd-block-7rem {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.pd-buttom-12rem {
    padding-bottom: 12rem !important;
}

.mg-bottom-1rem {
    margin-bottom: 1rem !important;
}


@media (max-width: 992px) {
    .header-hight-auto-992 {
        height: auto !important;
    }
}

@media (max-width: 576px) {
    .padding-buttom-12rem-576 {
        padding-bottom: 12rem !important;
    }
}

.gridYasta-250 {
    display: grid;
    /* My love <3 250 :D */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.gridYasta-500 {
    display: grid;
    /* My love <3 500 :D */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
}

.container {
    width: 90%;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        width: 76%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

/* End global */