/* Start Section-3 */
#home-section-3 {
    padding: 7rem 0;
}

.home-section-3-box-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.home-section-3-box-1::before {
    content: '';
    position: absolute;
    background-image: url(../img/dots-green.svg);
    width: 255px;
    height: 217px;
    transform: translate(-40%, -40%);
    z-index: -1;
}

.home-section-3-box-1 .img-1 {
    /* El grid 3l 3azem :D */
    grid-area: 1 / 1 / 5 / 9;
    cursor: pointer;
    z-index: 1;
}

.home-section-3-box-1 .img-2 {
    grid-area: 1 / 9 / 3 / 13;
    padding-left: 15px;
    cursor: pointer;
    z-index: 2;
}

.home-section-3-box-1 .img-3 {
    grid-area: 3 / 7 / 6 / 13;
    cursor: pointer;
    z-index: 3;
}

.home-section-3-box-1 img {
    border-radius: 20px;
    max-width: 100%;
}

.home-section-3-box-1 .img-1 img,
.home-section-3-box-1 .img-2 img,
.home-section-3-box-1 .img-3 img {
    transition: opacity 0.4s;
}

.home-section-3-box-1 .img-1:hover img,
.home-section-3-box-1 .img-2:hover img,
.home-section-3-box-1 .img-3:hover img {
    opacity: 0.8;
}

.home-section-3-box-2 {
    padding-left: 20%;
}

@media (max-width: 1110px) {
    .home-section-3-box-2 {
        padding-left: 0%;
        margin-top: 80px;
    }
}

.home-section-3-box-2 h2 {
    color: #2f2f2f;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.home-section-3-box-2 p {
    margin-bottom: 1rem;
}

.home-section-3-box-2 ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.home-section-3-box-2 ul span {
    position: relative;
}

.home-section-3-box-2 ul span li {
    display: inline-block;
    margin-bottom: 13px;
    line-height: 1.6;
    width: calc(50% - 20px - 5px);
}

.home-section-3-box-2 ul span i {
    padding-right: 5px;
    font-size: 10px;
    color: green;
    padding-top: 5px;
    vertical-align: top;
}

/* End Section-3 */

/* ------ Section Media Query ------ */

/* Start Section-3 */
@media (max-width: 528px) {
    .home-section-3-box-1 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        width: 70%;
        margin: auto;
    }

    .home-section-3-box-1::before {
        width: 0 !important;
        height: 0 !important;
    }

    #home-section-3 .gridYasta-500 {
        display: block;
    }

    .home-section-3-box-2 {
        text-align: center;
    }
}

/* End Section-3 */

/* ------ End Media Query ------ */


/* @media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {} */